pkgbase = around
	pkgdesc = Video conferencing with AI-based camera framing.
	pkgver = 1.2.21
	pkgrel = 1
	url = https://www.around.co/
	arch = x86_64
	license = unknown
	depends = fuse2
	noextract = Around-1.2.21.AppImage
	options = !strip
	source = Around-1.2.21.AppImage::https://downloads.around.co/Around.AppImage
	source = https://avatars.githubusercontent.com/u/62425723
	sha256sums = 7b704869c79cf6157d05ee871381e2b4d6a6cbfa37089d7a477386d0fb45ef0d
	sha256sums = 60d9081bbf0cfc6af58973d54e68c286d7ac3b21e875fef8f811c5114f34c7dc

pkgname = around
